@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.Roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.josefin {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.shape{
  border-radius: 78% 22% 53% 47% / 70% 44% 56% 30% ;
  background-color: rgba(34, 197, 94, 0.3);
  /* filter: blur(10px); */
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;              /* scrollbar width */
  height: 8px;             /* for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: transparent;     /* track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #30a133, #08b413); /* thumb gradient */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9cd147, #00cc29);
}

/* For Firefox */
* {
  scrollbar-width: thin;                 /* "auto" or "thin" */
  scrollbar-color: #63ff66 #1e1e2f;     /* thumb color | track color */
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient {
  background: linear-gradient(90deg, #16a34a, #f59e0b, #16a34a);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradientShift 8s ease infinite;
}